body{
  background: url(img/dev.png) no-repeat;
  background-size: 1300px;
}
.don{
  color: #27A591;
  margin-top: 100px;
  text-align: center;
  font-size: 45px;
}
.name{
  font-size: 80px;
  color: white;
  text-align: center;
}
.skills{
  font-size: 25px;
  color: white;
}
.skills:hover{
  color: black;
}
.equal img{
    vertical-align: middle;
    border-style: none;
    margin-top: 15px;
}
.rid{

}
.social .pic{
  height: 40px;
  width: 40px;
}
.tim{
  margin-top: -7px;
}
